.map_wrap,
.map_wrap * {
  margin: 0;
  padding: 0;
  font-family: "Malgun Gothic", dotum, "돋움", sans-serif;
  font-size: 12px;
}
.map_wrap a,
.map_wrap a:hover,
.map_wrap a:active {
  color: #000;
  text-decoration: none;
}
.map_wrap {
  position: relative;
  width: 100vw;
  height: 90vh;
}
#map_buttons {
  position: absolute;
  top: 55vh;
  left: 85vw;
  bottom: 0;
  width: 12vw;
  margin: 0;
  padding: 0, 5rem;
  overflow-y: auto;
  background: rgba(255, 255, 255, 0.7);
  z-index: 1;
}
#map_buttons li {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  background: rgba(255, 255, 255, 0.7);
}

#map_buttons li button {
  border: 1px solid rgba(228, 226, 226, 0.8);
  box-shadow: -1px -1px 2px rgba(228, 226, 226, 0.8),
    2px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 2rem;
  background-color: white;
  color: #e87400;
  padding: 0.6rem 0.8rem;
}
#map_buttons li button:hover {
  background-color: #e87400;
  color: white;
}
#map_buttons li button:focus {
  outline: none;
  border: 0;
}
#map_buttons li button > a {
  text-decoration: none;
  color: #e87400;
}
.place_add_button {
  z-index: 1;
  position: absolute;
  top: 80vh;
  left: 88vw;
  width: 10vw;
  background: rgba(255, 255, 255, 0.7);
}

/* .place_add_button button {
  font-size: 0.7rem;
  border: 1px solid rgba(228, 226, 226, 0.8);
  box-shadow: -1px -1px 2px rgba(228, 226, 226, 0.8),
    2px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 2rem;
  background-color: white;
  color: #e87400;
  padding: 0.6rem 0.8rem;
}
.place_add_button button:hover {
  background-color: #e87400;
  color: white;
}
.place_add_button button:focus {
  outline: none;
  border: 0;
} */

.search_toggleBtn {
  position: absolute;
  left: 0.5rem;
  /* left: 18.5rem; */
  top: 1rem;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  color: black;
  z-index: 2;
  display: none;
  background-color: skyblue;
  border-radius: 50%;
}

.fa-search-location {
  margin-top: 0.8rem;
}

/*search toggle*/
@media all and (max-width: 768px) {
  #menu_wrap {
    display: none;
  }
  #menu_wrap.active {
    display: block;
  }
  .search_toggleBtn {
    display: block;
  }
}
/*search toggle end*/

#menu_wrap {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  margin: 10px 0 30px 10px;
  padding: 5px;
  overflow-y: auto;
  background: rgba(255, 255, 255, 0.7);
  z-index: 1;
  font-size: 12px;
  border-radius: 10px;
}
.bg_white {
  background: #fff;
}
#menu_wrap .option {
  text-align: center;
}
#menu_wrap .option input {
  font-size: 0.5rem;
  width: 80%;
  height: 40px;
  border: 1px solid rgba(228, 226, 226, 0.8);
  box-shadow: -1px -1px 2px rgba(228, 226, 226, 0.8),
    2px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding-left: 15px;
  color: gray;
}
#menu_wrap .option input:focus {
  outline: none;
  color: black;
}
#menu_wrap .option form button {
  width: 40px;
  height: 40px;
  background-color: #e87400;
  color: white;
  border: 1px solid rgba(228, 226, 226, 0.8);
  box-shadow: -1px -1px 2px rgba(228, 226, 226, 0.8),
    2px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}
#menu_wrap .option form button:focus {
  outline: none;
}
#menu_wrap .option p {
  margin: 10px 0;
}

#menu_wrap #category_buttons {
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(max-content, 4);
  grid-template-rows: 3rem;
}
#menu_wrap #category_buttons li {
  float: left;
  margin-right: 0.5rem;
}
#menu_wrap #category_buttons li button {
  border: 1px solid rgba(228, 226, 226, 0.8);
  box-shadow: -1px -1px 2px rgba(228, 226, 226, 0.8),
    2px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 2rem;
  background-color: white;
  color: #e87400;
  padding: 0.6rem 0.8rem;
  font-size: 0.7rem;
}
#menu_wrap #category_buttons li button:hover {
  background-color: #e87400;
  color: white;
}
#menu_wrap #category_buttons li button:focus {
  outline: none;
  border: 0;
}

#placesList li {
  list-style: none;
}
#placesList .item {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  min-height: 65px;
  margin-right: 5px;
}
.placeBox {
  background-color: white;
  margin: 5px;
  width: 97%;
  border-radius: 10px;
  box-sizing: border-box;
  border: 1px solid rgba(228, 226, 226, 0.8);
  box-shadow: -1px -1px 2px rgba(228, 226, 226, 0.8),
    2px 2px 5px rgba(0, 0, 0, 0.2);
}
#placesList .item span {
  display: block;
  margin-top: 8px;
}

#placesList .item .info {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 10px 0 10px 55px;
  text-align: left;
  font-size: 0.8rem;
}
#placesList .item .info h5 {
  font-size: 1rem;
}

#placesList .info .gray {
  color: #8a8a8a;
}

#placesList .info .jibun {
  padding-left: 26px;
  background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png)
    no-repeat;
}
#placesList .info .tel {
  color: #009900;
  margin-bottom: 1rem;
}

#placesList .info button {
  border: 1px solid #e87400;
  border-radius: 2rem;
  background-color: white;
  color: #e87400;
  padding: 0.3rem 0.8rem;
  font-size: 0.7rem;
}
#placesList .info button:hover {
  background-color: #e87400;
  color: white;
}
#placesList .info button:focus {
  outline: none;
}

#placesList .item .markerbg {
  float: left;
  position: absolute;
  width: 36px;
  height: 37px;
  margin: 25px 10px 0 10px;
  background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png)
    no-repeat;
}
#placesList .item .marker_1 {
  background-position: 0 -10px;
}
#placesList .item .marker_2 {
  background-position: 0 -56px;
}
#placesList .item .marker_3 {
  background-position: 0 -102px;
}
#placesList .item .marker_4 {
  background-position: 0 -148px;
}
#placesList .item .marker_5 {
  background-position: 0 -194px;
}
#placesList .item .marker_6 {
  background-position: 0 -240px;
}
#placesList .item .marker_7 {
  background-position: 0 -286px;
}
#placesList .item .marker_8 {
  background-position: 0 -332px;
}
#placesList .item .marker_9 {
  background-position: 0 -378px;
}
#placesList .item .marker_10 {
  background-position: 0 -423px;
}
#placesList .item .marker_11 {
  background-position: 0 -470px;
}
#placesList .item .marker_12 {
  background-position: 0 -516px;
}
#placesList .item .marker_13 {
  background-position: 0 -562px;
}
#placesList .item .marker_14 {
  background-position: 0 -608px;
}
#placesList .item .marker_15 {
  background-position: 0 -654px;
}
#pagination {
  margin: 10px auto;
  text-align: center;
}
#pagination a {
  display: inline-block;
  margin-right: 10px;
}
#pagination .on {
  font-weight: bold;
  cursor: default;
  color: #777;
}
