.main{
    background-color:rgb(247, 247, 246);
}
.blog-container{
    display:flex;
    justify-content: center;
}
/*-----header-----*/
.blog-header{
    color:white;
    background-color:#FFA133;
    text-align: left;
    padding:3rem 14rem;
}
.blog-header p{
    margin-top:1rem;
}
/*-----grid content-----*/
.blog-grid{
    display:grid;
    margin:6% 0 3% 0;
    width:70vw;
    justify-content:center;
    align-items:center;
    grid-templates-rows:repeat(7,14.3%);
    grid-templates-columns:repeat(5,200px);
}
/*-----best5 content-----*/
.best-post-title{
    grid-column:1/6;
    text-align:left;
    margin:1.5rem 0.8rem;
}
.best-post .best-box {
    position:relative;
    z-index:1;
    overflow: hidden;
    margin:0 10px;
    width:200px;
    height: 200px;
}
.best-box a{
    text-decoration:none;
    color:white;
}
.best-box img{
    width:100%;
    height:100%;
    object-fit:cover;
}
.best-post .best-info{
    background: rgba(0,0,0,0.7);
    z-index:2;
    position: absolute;
    top:75%;
    width:100%;
    height:100%;
    font-size:0.8rem;

}
.best-post .best-info .best-info-title{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    width:170px;
    margin:0;
    padding:0.9rem;
    font-size:1.1rem;
    font-weight: bold;
}

.best-box:hover .best-info{
    position:absolute;
    top:0;
    transition:0.5s;
}
.best-box:hover .best-info{
    display:flex;
    justify-content: center;
    align-items: center;
}


/*-----all post list content-----*/
.all-post-title{
    grid-column:span 3;
    text-align:left;
    margin:1.5rem 0.8rem;
}
.post-search{
    grid-column:span 2;
    text-align:right;
    margin:1.5rem 0.8rem;
}
form{
    display:inline;
}
.post-content{
    grid-column:span 5;
    border-bottom:1px solid gray;
    padding:3rem 1rem;
}
.post-content div{
    display:inline-block;
}
.post-text {
    text-align:left;
    float:left;
}
.post-text span{
    margin:0 1rem 0 0;
}
.post-text h6{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    width:750px;
    margin:0;
    padding:1rem 0;
}
.post-text a{
    text-decoration: none;
    color:black;
}
.post-text p{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    width:750px;
    margin-bottom:1rem;
}
.post-image{
    float:right;
    color:gray;
}
.post-image img{
    width:150px;
    height:150px;
    object-fit:cover;
    background-color:lightgray;
}

/*----------pagination----------*/
.pagination{
    margin:2rem;
    font-size: 0.8rem;
    font-weight: bold;
}
.pagination a{
    text-decoration: none;
    color:#888888;
}


/*---------create button-------*/
.create-btn{
    width:60px;
    height:60px;
    color:white;
    border:0;
    border-radius: 60px;
    background-color:#FFA133;
    font-size: 2rem;
    position: fixed;
    right:80px;
    bottom:50px;
    z-index:1000;
    box-shadow: 2px 4px 20px -10px gray;
    transition: 0.5s;
}
.create-btn:hover{
    width:70px;
    height:70px;
    transition: 0.5s;
    font-size:2.3rem;
    background-color:#E87400;
}
.filter{
    color:gray;
    border:1px solid gray;
    padding:0.4rem 1rem;
}
.search{
    width:300px;
    padding:0.5rem 1rem;
    border-style: none;
    border-radius: 40px;
    background-color:#DDDDDD;
}