body{
    background-color:white;
}
main{
    display:flex;
    justify-content: center;
    vertical-align: center;
    flex-direction: column;
}
hr{
    border:0;
    height:1px;
    background-color:lightgray;
    margin:30px 0;
}
a{
    text-decoration: none;
    color:#8B8B8B;
}
.post-container{
    display:flex;
    justify-content: center;
    align-items: center;
}
.post-grid{
    width:70vw;
    display: grid;
    padding:5% 5% 2% 5%;
    grid-template-rows:repeat(7,auto);
    grid-template-columns: repeat(2,50%);
}
/*--------post header--------*/
.tag-list{
    grid-column: span 2;
}

.post-header{
    grid-column: span 2;
}
.post-header h3{
    margin:3rem 0 1.3rem 0;
}
.post-header .post-title-info{
    color:rgb(87, 87, 87);
    font-size:0.7rem;
    margin:10px;
}

/*--------post content--------*/
.post-content{
    margin:5% 0;
    grid-column: span 2;
}
.post-content img{
    width:30vw;
    height:30vw;
    object-fit: contain;
}
.post-content p{
    line-height:1.8rem;
    font-size:1rem;
    margin-top:6%;
}

/*--------post like,comment count,delete,modify--------*/
.like-and-comment-content{
    float: left;
}
.like-and-comment-content i{
    font-size:1.3rem;
    color:gray;
}
.like-btn{
    background-color: rgba(0,0,0,0);
    border:0;
    padding:0;
    margin:0;
}
.modify-and-delete-content{
    float: right;
}
.modify-and-delete-content button{
    background-color: rgba(0,0,0,0);
    border:0;
    padding:0;
    margin:0 0 0 1rem;
    color:gray;
    display: inline;
}
.delete-btn{
    background-color: rgba(0,0,0,0);
    border:0;
    padding:0;
    margin:0 0 0 1rem;
    color:gray;
    display: inline;
    float: left;
}
/*--------comment--------*/
.comment-container{
    grid-column: span 2;
}
.deleted-comment{
    text-align:left;
}
.comment-text{
    text-align: left;
}
.comment-text-sub{
    white-space: pre-wrap;
    font-size:0.7rem;
    color:#999999;
    margin: 1rem 0;
}
.comment-text-sub:nth-child(1){
    color:#666666;
    font-size:0.8rem;
}
.comment-modify button{
    background-color: rgba(0,0,0,0);
    border:0;
    padding:0.8rem 0;
    margin:0 0.8rem 0 0;
}
.comment-modify button a{
    color:#666666;
}
.comment-input{
    grid-column: span 2;
    width:100%;
    display: flex;
}
.comment-input textarea{
    width:85%;
    margin-right:10px;
    padding:1rem;
    border:1px solid lightgray;
}
.comment-input textarea::placeholder{
    color:#BDBDBD;
}
#comment_write{
    width:15%;
    border:0;
    border-radius: 9px;
    padding:1rem;
    margin:0;
    background-color:#FF9D00;
    color:white;
    transition:0.5s;
}
#comment_write:hover{
    background-color:#E87400;
    color:white;
    transition:0.2s;
}
/*--------page linker--------*/
.page-linker{
    display:flex;
    justify-content: center;
    align-items: center;
    margin:3% 0 5% 0;
}
.page-linker-grid{
    width:70vw;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
}
.before-page{
    float:left;
    text-align: left;
}
.next-page{
    float: right;
    text-align: right;
}
.other-title{
    overflow: hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    display:inline-block;
    color:#555555;
    vertical-align: middle;
}

/*@media screen and (min-width:768px) and (max-width:1183px){
    .page-linker-grid{
        font-size:0.9rem;
    }
    .before-page a{
        width:100%;
    }
    .next-page a{
        width:100%;
    }
}*/
@media screen and (max-width:768px){
    .comment-input{
        grid-column: span 2;
        width:100%;
        display: flex;
    }
    .comment-input textarea{
        width:70%;
        margin-right:10px;
        padding:1rem;
        border:1px solid lightgray;
    }
    .comment-input textarea::placeholder{
        color:#BDBDBD;
    }
    #comment_write{
        width:30%;
        border:0;
        border-radius: 9px;
        padding:0.5rem;
        margin:0;
        background-color:#FF9D00;
        color:white;
        transition:0.5s;
        font-size: 0.7rem;
    }
    #comment_write:hover{
        background-color:#E87400;
        color:white;
        transition:0.2s;
    }
    .other-title{
        display:none;
    }
}