{% extends "calculator/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'calculator/calculate.css' %}">
{% endblock %}

{% block body %}
    <div class="form_container">
        <div class="input_container">
            <p class="p_text"><strong>강아지의 기본 정보를 입력해주세요!</strong></p>
            <form action="" method="POST">
                {% csrf_token %}
                <div class="submit1">
                    <p id="breeds_label">{{form.breeds.label}}</p>
                    <p>{{form.breeds}}</p>
                    <p id="current_weight_label">{{form.current_weight.label}}</p>
                    <p>{{form.current_weight}}</p>
                    <button type='button' name='next' onclick="
                    document.querySelector('.submit1').style.display='none';
                    document.querySelector('.submit2').style.display='block';
                    document.querySelector('.submit_btn').style.display='block';
                    document.querySelector('.p_text').innerHTML='<strong>강아지의 외형과 가장 가까운 것은 무엇인가요?</strong>';
                    ">다음</button>
                </div>
                <div class="submit2">
                    <div class="item_array">
                        {% for bcs in form.bcs %}
                            <div class="bcs_level">
                                <label for="id_bcs_{{forloop.counter0}}"><img src="http://placekitten.com/300/300" alt="사진"></label><br /><br />
                                {{bcs}}<br />
                            </div>
                        {% endfor %}
                    </div>
                    <button type='button' name='previous' onclick="
                    document.querySelector('.submit1').style.display='block';
                    document.querySelector('.submit2').style.display='none';
                    document.querySelector('.submit_btn').style.display='none';
                    document.querySelector('.p_text').innerHTML='<strong>강아지의 기본 정보를 입력해주세요!</strong>';
                    ">이전</button>
                </div>
                <input class='submit_btn' type='submit' name='submit' />            
            </form>
        </div>
    </div>
{% endblock %}