<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
        <!--강아지 모습 선택-->
        <label for="level1"><img src="" alt="사진"></label><br />
        <input type="checkbox" name='level' id='level1' value="5" onclick="checkOnlyOne(this)"/><br />
        <label for="level2"><img src="" alt="사진"></label><br />
        <input type="checkbox" name='level' id='level2' value="10" onclick="checkOnlyOne(this)"/><br />
        <label for="level3"><img src="" alt="사진"></label><br />
        <input type="checkbox" name='level' id='level3' value="20" onclick="checkOnlyOne(this)"/><br />
        <label for="level4"><img src="" alt="사진"></label><br />
        <input type="checkbox" name='level' id='level4' value="30" onclick="checkOnlyOne(this)"/><br />
        <label for="level5"><img src="" alt="사진"></label><br />
        <input type="checkbox" name='level' id='level5' value="40" onclick="checkOnlyOne(this)"/><br />
        <!--강아지 종 선택-->
        <select name="dog_breed">
            {% for breed in breeds %}
                <option value={{breed}}>{{breed}}</option>
            {% endfor %}
        </select> 
        <!--체중 입력-->
        체중(kg): <input type="text" name="current_weight"><br /> 
        <input type="submit" value="제출">
    </form>
    <script>
        // 체크 박스 하나만 선택할 수 있도록
        function checkOnlyOne(element) {
        const checkboxes 
            = document.getElementsByName("level");
        checkboxes.forEach((cb) => {
            cb.checked = false;
        })
        element.checked = true;
        }
    </script>
</body>
</html>