/* common for all screen */
main {
    min-height: calc(98vh - 280px);
}

.wrap {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 12rem;
    background-image: url("../../static/calculator/dogimage/intro.png");
    background-repeat: no-repeat;
    background-position: 30% 80%;
    background-size: contain;
}

.left_container {
    width:50%;

}

/* right_container */
.right_container {
    text-align:left;
}

.header_text {
    font-size: 2.8rem;
    font-weight: 600;
    height: 5rem;
}

.header_text span {
    color:#FF9D00;
}

.main_text {
    margin-bottom: 2rem;
    font-size:1rem;
    width:70%;
}

.right_container > a {
    display: block;
    text-align:center;
    text-decoration:none;
    border-radius:20rem;
    width:40%;
    box-sizing: border-box;
    border-color:transparent;
    padding: 1rem;
    background-color: #FF9D00;
    color:white;
    font-weight:600;
    font-size:1.2rem;
}

.right_container > a:hover {
    background-color: #E87400;
}

@media screen and (min-width:480px) and (max-width:768px) {
    .header_text {
        font-size: 1.5rem;
        font-weight: 600;
        height: 2rem;
    }

    .left_container {
        width:80%;
    
    }

    .main_text {
        font-size: 0.8rem;
        margin-bottom: 1rem;
    }

    .right_container > a {
        width:35%;
        padding: 0.8rem;
        font-size:0.8rem;
    }
}

@media screen and (max-width:480px) {
    .wrap {
        margin-top: 0;
        height: 100%;
        background-position: bottom;
    }

    .left_container {
        width:0%;
    
    }

    .right_container {
        text-align:center;
        padding-bottom: 8rem;
    }

    .header_text {
        font-size: 1.3rem;
        font-weight: 600;
        height: 2rem;
    }

    .main_text {
        margin-bottom: 1rem;
        font-size:0.9rem;
        width: 100%;
    }

    .right_container a {
        width:35%;
        padding: 0.8rem;
        font-size:0.8rem;
        margin: 0 auto;
    }
}