.wrap {
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../static/calculator/dogimage/intro.png");
    background-repeat: no-repeat;
    background-position: left;
}

.left_container {
    width:40%;
}

/* right_container */
.right_container {
    text-align:left;
}

.header_text {
    font-size: 3rem;
    font-weight: 600;
    height: 5rem;
}

.header_text span {
    color:#FF9D00;
}

.main_text {
    margin-bottom: 2rem;
    font-size:1rem;
}

.right_container > a {
    display: block;
    text-align:center;
    text-decoration:none;
    border-radius:20rem;
    width:40%;
    box-sizing: border-box;
    border-color:transparent;
    padding: 1rem;
    background-color: #FF9D00;
    color:white;
    font-weight:600;
    font-size:1.2rem;
}

.right_container > a:hover {
    background-color: #E87400;
}
