/* common screen css */
    /* 현재체중 <= 적정체중. 현재체중 색: 초록색 */
    .bar-graph-bg1{ 
        width: 100%; background-color: white; border: 1px solid grey; border-radius: 20rem;
        height:0.7rem;
    }
    .bar-graph_section1{ 
        height:0.7rem;
        background-color: #49B497; border: 1px solid #49B497; box-sizing: border-box; border-radius: 20rem;
    }

    /* 현재체중 > 적정체중. 현재체중 색: 초록색 */
    .bar-graph-bg2{ 
        background-color: #49B497; border: 1px solid #49B497; border-radius: 20rem;
        width: 100%; height:0.7rem;
    }
    .bar-graph_section2{ 
        height:0.7rem;
        background-color: white; border: 1px solid white; box-sizing: border-box; border-radius: 20rem;
    }

    /* 활동량 그래프 */
    .bar-graph-bg3{ 
        width: 100%; background-color: white; border: 1px solid grey; border-radius: 20rem;
        height:0.7rem;
    }
    .bar-graph_section3{ 
        height:0.7rem;
        background-color: #FF9D00; border: 1px solid #FF9D00; box-sizing: border-box; border-radius: 20rem;
    }

    /* button hover */
    .url_btns a:hover {
        background-color: #E87400;
    }


@media screen and (min-width:1024px){
    .wrap {
        height:100%;
        margin: 0 auto;
        padding: 0 5rem;
        padding-top: 10rem;
        padding-bottom: 10rem;
    }

    #image_div {
        text-align:left;
    }

    .dog_image {
        border: 1px solid black;
        border-radius: 100%;
        width: 8rem;
        height: 8rem;
        object-fit:cover;
    }

    .contents_box {
        height:100%;
        display:flex;
        justify-content: center;
        align-items:center;
        flex-wrap:wrap;
        width: 100%;
        margin-bottom: 10rem;
    }

    /* left_container */
    .left_container {
        width:60%;
    }

    .text_container {
        margin: 0 auto;
    }

    .text_container p:first-child {
        text-align:left;
        line-height:1.9rem;
        margin: 2rem 0;
    }

    .text_container .dog_breed {
        border-left: 1px solid #FF9D00;
        border-right: 1px solid #FF9D00;
        border-width: 0.5rem;
        padding: 0 0.8rem;
        font-size: 1.9rem;
        font-weight:600;
    }


    .text_content {
        width:80%;
        text-align:left;
        margin-bottom: 3rem;
    }

    .text_content p {
        line-height: 1.8rem;
    }

    .url_btns {
        display:flex;
        justify-content: flex-start;
    }

    .url_btns a {
        text-decoration:none;
        background-color: #FF9D00;
        box-sizing: border-box;
        border-radius: 20rem;
        padding: 1rem 2rem;
        margin-right:1rem;
        font-size:1rem;
        color:white;
    }

    /* right_container */

    .right_container {
        width:30%;
        border: 2px solid lightgray;
        border-radius:3rem;
        box-sizing: border-box;
        display:flex;
        flex-direction:column;
        justify-content: center;
        padding: 2rem 4rem;
    }

    .upper_content p, .lower_content p {
        text-align:left;
        margin: 1rem 0;
    }

    .upper_content p:nth-child(2), .lower_content p:nth-child(2) {
        font-size:1.5rem;
        color:black;
        font-weight:600;
    }


    .upper_content .status_text {
        overflow:hidden;
        border-bottom: 1px solid grey;
    }

    .status_text p:first-child {
        float:left;
    }

    .status_text p:last-child {
        float:right;
    }

    .less_or_more {
        overflow: hidden;
        margin: 1rem 0;
    }

    .less_or_more span:nth-child(1) {
        float:left;
    }

    .less_or_more span:nth-child(2) {
        float:right;
    }
}

@media screen and (min-width:768px) and (max-width:1024px){
    .wrap {
        margin: 0 auto;
        padding-top: 15rem;
        padding-bottom: 15rem;
    }

    #image_div {
        text-align:center;
    }

    .dog_image {
        border: 1px solid black;
        border-radius: 100%;
        width: 8rem;
        height: 8rem;
        object-fit:cover;
    }

    .contents_box {
        height:100%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        width: 100%;
        margin-bottom: 10rem;
    }

    /* left_container */
    .left_container {
        width:80%;
    }


    .text_container {
        margin: 0 auto;
    }

    .text_container p:first-child {
        text-align:center;
        line-height:1.9rem;
        margin: 2rem 0;
    }

    .text_container .dog_breed {
        border-left: 1px solid #FF9D00;
        border-right: 1px solid #FF9D00;
        border-width: 0.5rem;
        padding: 0 0.8rem;
        font-size: 1.9rem;
        font-weight:600;
    }


    .text_content {
        margin-bottom: 3rem;
    }

    .text_content p {
        line-height: 1.8rem;
    }



    .url_btns {
        height: 5rem;
        text-align:center;
    }

    .url_btns a {
        text-decoration:none;
        background-color: #FF9D00;
        box-sizing: border-box;
        border-radius: 20rem;
        padding: 1rem 2rem;
        margin-right:1rem;
        font-size:1rem;
        color:white;
    }



    /* right_container */

    .right_container {
        width:80%;
        border: 2px solid lightgray;
        border-radius:3rem;
        box-sizing: border-box;
        display:flex;
        flex-direction:column;
        justify-content: center;
        padding: 2rem 4rem;
    }

    .upper_content p, .lower_content p {
        text-align:left;
        margin: 1rem 0;
    }

    .upper_content p:nth-child(2), .lower_content p:nth-child(2) {
        font-size:1.5rem;
        color:black;
        font-weight:600;
    }


    .upper_content .status_text {
        overflow:hidden;
        border-bottom: 1px solid grey;
    }

    .status_text p:first-child {
        float:left;
    }

    .status_text p:last-child {
        float:right;
    }

    .less_or_more {
        overflow: hidden;
        margin: 1rem 0;
    }

    .less_or_more span:nth-child(1) {
        float:left;
    }

    .less_or_more span:nth-child(2) {
        float:right;
    }
}

@media screen and (min-width:480px) and (max-width:768px){
    .wrap {
        margin: 0 auto;
        padding-top: 20rem;
        padding-bottom: 20rem;
    }

    #image_div {
        text-align:center;
    }

    .dog_image {
        border: 1px solid black;
        border-radius: 100%;
        width: 8rem;
        height: 8rem;
        object-fit:cover;
    }

    .contents_box {
        height:100%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        width: 100%;
        margin-bottom: 10rem;
    }

    /* left_container */
    .left_container {
        width:80%;
    }


    .text_container {
        margin: 0 auto;
    }

    .text_container p:first-child {
        text-align:center;
        line-height:1.9rem;
        margin: 2rem 0;
    }

    .text_container .dog_breed {
        border-left: 1px solid #FF9D00;
        border-right: 1px solid #FF9D00;
        border-width: 0.5rem;
        padding: 0 0.8rem;
        font-size: 1.9rem;
        font-weight:600;
    }


    .text_content {
        margin-bottom: 3rem;
    }

    .text_content p {
        line-height: 1.8rem;
    }



    .url_btns {
        height: 5rem;
        text-align:center;
    }

    .url_btns a {
        text-decoration:none;
        background-color: #FF9D00;
        box-sizing: border-box;
        border-radius: 20rem;
        padding: 1rem;
        margin-right:1rem;
        font-size:1rem;
        color:white;
    }

    /* right_container */

    .right_container {
        width:80%;
        border: 2px solid lightgray;
        border-radius:3rem;
        box-sizing: border-box;
        display:flex;
        flex-direction:column;
        justify-content: center;
        padding: 2rem 4rem;
    }

    .upper_content p, .lower_content p {
        text-align:left;
        margin: 1rem 0;
    }

    .upper_content p:nth-child(2), .lower_content p:nth-child(2) {
        font-size:1.5rem;
        color:black;
        font-weight:600;
    }


    .upper_content .status_text {
        overflow:hidden;
        border-bottom: 1px solid grey;
    }

    .status_text p:first-child {
        float:left;
    }

    .status_text p:last-child {
        float:right;
    }


    .less_or_more {
        overflow: hidden;
        margin: 1rem 0;
    }

    .less_or_more span:nth-child(1) {
        float:left;
    }

    .less_or_more span:nth-child(2) {
        float:right;
    }
}

@media screen and (max-width:480px){
    .wrap {
        margin: 0 auto;
        padding-top: 15rem;
        padding-bottom: 15rem;
    }

    #image_div {
        text-align:center;
    }

    .dog_image {
        border: 1px solid black;
        border-radius: 100%;
        width: 4rem;
        height: 4rem;
        object-fit:cover;
    }

    .contents_box {
        height:100%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        width: 100%;
    }

    /* left_container */
    .left_container {
        width:80%;
    }


    .text_container {
        margin: 0 auto;
    }

    .text_container p:first-child {
        text-align:center;
        line-height:1.9rem;
        margin: 1.5rem 0;
    }

    .text_container .dog_breed {
        border-left: 1px solid #FF9D00;
        border-right: 1px solid #FF9D00;
        border-width: 0.5rem;
        padding: 0 0.8rem;
        font-size: 1.2rem;
        font-weight:600;
    }


    .text_content {
        margin-bottom: 1rem;
    }

    .text_content p {
        line-height: 1.2rem;
        font-size:0.7rem;
    }

    .url_btns {
        height: 2rem;
        text-align:center;
    }

    .url_btns a {
        display:block;
        text-decoration:none;
        background-color: #FF9D00;
        box-sizing: border-box;
        border-radius: 20rem;
        margin:0.5rem 0;
        padding: 0.5rem;
        font-size:0.7rem;
        color:white;
    }

    /* right_container */

    .right_container {
        margin-top: 4rem;
        width:80%;
        border: 2px solid lightgray;
        border-radius:3rem;
        box-sizing: border-box;
        display:flex;
        flex-direction:column;
        justify-content: center;
        padding: 1rem 2rem;
    }

    .upper_content p, .lower_content p {
        text-align:left;
        margin: 1rem 0;
    }

    .upper_content p:nth-child(2), .lower_content p:nth-child(2) {
        font-size:1.2rem;
        color:black;
        font-weight:600;
    }


    .upper_content .status_text {
        border-bottom: 1px solid grey;
    }

    .upper_content .status_text p {
        text-align: left;
        margin: 0;
    }

    /* 현재체중 <= 적정체중. 현재체중 색: 초록색 */
    .bar-graph-bg1{ 
        width: 100%; background-color: white; border: 1px solid grey; border-radius: 20rem;
        height:0.7rem;
    }
    .bar-graph_section1{ 
        height:0.7rem;
        background-color: #49B497; border: 1px solid #49B497; box-sizing: border-box; border-radius: 20rem;
    }

    /* 현재체중 > 적정체중. 현재체중 색: 초록색 */
    .bar-graph-bg2{ 
        background-color: #49B497; border: 1px solid #49B497; border-radius: 20rem;
        width: 100%; height:0.7rem;
    }
    .bar-graph_section2{ 
        height:0.7rem;
        background-color: white; border: 1px solid white; box-sizing: border-box; border-radius: 20rem;
    }

    /* 활동량 그래프 */
    .bar-graph-bg3{ 
        width: 100%; background-color: white; border: 1px solid grey; border-radius: 20rem;
        height:0.7rem;
    }
    .bar-graph_section3{ 
        height:0.7rem;
        background-color: #FF9D00; border: 1px solid #FF9D00; box-sizing: border-box; border-radius: 20rem;
    }

    .less_or_more {
        overflow: hidden;
        margin: 1rem 0;
    }

    .less_or_more span:nth-child(1) {
        float:left;
    }

    .less_or_more span:nth-child(2) {
        float:right;
    }
}