/* top_container */
.wrap {
    height:100%;
}

.top_container {
    width:50%;
    margin: 0 auto;
}

.top_container .dog_breed {
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    border-width: 0.3rem;
    padding: 0 0.3rem;
    font-size: 1.2rem;
}

.calculate_container {
    width:80%;
    margin: 3rem auto;
    padding-top: 1rem;
    border:1px solid grey;
    border-radius: 2rem;
}

.upper_content, .lower_content {
    margin: 0 3rem 0 2rem; 
}

.upper_content p, .lower_content p {
    text-align:left;
    margin: 0.2rem;
}

.upper_content p:nth-child(2), .lower_content p:nth-child(2) {
    font-size:1.5rem;
    color:rgb(162, 236, 49)
}

.upper_content p:last-child{
    border-bottom: 1px solid grey;
    padding-bottom: 1.5rem;
}

.bar-graph-bg{ 
    width: 100%; background-color: white; border: 1px solid grey; border-radius: 20rem;
    height:0.7rem;
}
.bar-graph_section{ 
    height:0.7rem;
    background-color: grey; border: 1px solid grey; box-sizing: border-box; border-radius: 20rem;
}

.lower_content p:first-child {
    padding-top:1rem;
}

.lower_content p:nth-child(3) {
    border-top: 1px solid grey;
    padding-top:1rem;
    margin-top:1rem;
}

.less_or_more {
    overflow: hidden;
    margin-bottom:1rem;
}

.less_or_more span:nth-child(1) {
    float:left;
}

.less_or_more span:nth-child(2) {
    float:right;
}

/* bottom_container */
.bottom_container {
    border-radius: 2rem;
    width:50%;
    margin: 0 auto;
}

.text_header {
    font-size: 1.2rem;
}

.text_header p {
    margin: 2.5rem 0 0.5rem 0;
}

.empty_div {
    height:1rem; width: 15%;
    border-bottom: 1px solid grey;
    margin: 0 auto;
}

.text_content {
    width:80%;
    margin: 0 auto;
    background-color: lightgray;
}

.url_btns {
    display:flex;
    justify-content: center;
    align-items: center;
}

.url_btns a {
    text-decoration:none;
    border:1px solid gray;
    background-color: grey;
    box-sizing: border-box;
    border-radius: 20rem;
    padding: 0.4rem 1rem;
    margin: 0 0.5rem;
    font-size:0.7rem;
    color:white;
}