{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
        <li><a href="{% provider_login_url 'google' %}">구글 로그인</a></li>
        <li><a href="{% provider_login_url 'naver' %}">네이버 로그인</a></li>
        <input type='submit' />
    </form>
</body>
</html>