{% extends "accounts/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block extra-head %}
    {{block.super}}
    <link rel="stylesheet" href="{% static 'accounts/profile_edit.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
{% endblock %}

{% block content %}
<div class="form_container">
    <div class="input_container">
        <form action="{% url 'accounts:profile_edit' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% if profile.image_thumbnail %}
                <div class="thumbnail_image"><img src="{{profile.image_thumbnail.url}}" style="width:80px; height: 80px;"></div>
            {% else %}
                <div class="none_img"><i class="far fa-user"></i></div>
            {% endif %}
            <p id="image_upload">{{ profileform.image }}</p>
            <p>{{ profileform.name|add_class:"name" }}</p>
            <p>{{ profileform.nickname|add_class:"nickname" }}</p>
            <p>{{ profileform.email|add_class:"email" }}</p>

            <input type='submit' name='profile_edit' value='완료' />
        </form>
    </div>
</div>
{% endblock %}

{% block extra_body %}
<script>
    $( document ).ready( function() {
        $( '.name' ).attr( 'placeholder', '이름' );
        $( '.nickname' ).attr( 'placeholder', '닉네임' );
        $( '.email' ).attr( 'placeholder', '이메일' );
    } );
</script>
{% endblock %}