<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{ user.username }}의 프로필입니다. <br /><br /><br />

    {% if profile.nickname and profile.image.url %}
        user: {{profile.user}}<br />
        profile name: {{profile.name}}<br />
        profile nickname: {{profile.nickname}}<br />
        profile image: <img src="{{profile.image_thumbnail.url}}"><br />
    {% endif %}

    <br /><br />
    
    <a href="{% url 'accounts:profile_edit' %}">프로필 편집</a>
    <a href="{% url 'accounts:base' %}">메인으로 이동</a>
</body>
</html>