{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block extra_head %}
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="{% static 'blog/css/post_create.css' %}">
{% endblock %}


{% block body %}
    {% if form.errors %}
    <div class="alert alert-danger">
        <div class="font-weight-bold">다시 시도해주세요!</div>
        {{ form.errors }}
    </div>
    {% endif %}
    <form action="." method="post" enctype="multipart/form-data" class="card pt-3">{% csrf_token %}
        {% csrf_token %}

        
         
        <div class="create-container">
            <div class="from group-row">
                <input type="text" autofocus class="form-control title-input" placeholder="제목을 입력하세요" required id="id_title"> 
            </div>
            <br/>
            <div class="from group-row">
                <input type="textarea" class="form-control content-input" placeholder="내용을 작성하세요" required id="id_content">
            </div>
            
            <div class="from group-row image-section">
                <span class="image-name">이미지 </span>

                <input class="upload-name" value="" disabled="disabled">
                <label class="file-upload-button" for="id_image">이미지 선택</label>
                <input type="file" autofocus class="form-control image-input" required id="id_image">
            </div>

            
            <div class="from group-row tags-section">
                <span class="tags-name">태그 </span>
                <input type="text" autofocus class="form-control tags-input" placeholder="해시태그와 함께 입력해주세요" required id="id_tags">
            </div>    
            <small class="form-text text-muted">{{ form.tags.help_text }}</small>

            <br/></br/>
            <div class="form-group">
                <div class="submit">
                    <input type="submit" value="등록하기" class="submit-btn"/>
                </div>
            </div>
            <br/>
        </div>
    </form>
{% endblock %}

{% block script %}    
    <script type="text/javascript" 
    src="{% static 'blog/js/post_create.js' %}" ></script>
{% endblock %}