{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'blog/css/post_create.css' %}">
{% endblock %}


{% block body %}
    {% if form.errors %}
    <div class="alert alert-danger">
        <div class="font-weight-bold">다시 시도해주세요!</div>
        {{ form.errors }}
    </div>
    {% endif %}
    <form action="." method="post" enctype="multipart/form-data" class="card pt-3">{% csrf_token %}
        <div class="create-container">
            <div class="from group-row">
                {{ form.title|add_label_class:"title-input" }}
                <div class="col-sm-5">
                    {{ form.title|add_class:"form-control"|attr:"autofocus" }}
                </div>
            </div>
            <div class="from group-row">
                {{ form.secret|add_label_class:"col-form-label col-sm-2 ml-3 font-weight-bold" }}
                <div class="col-sm-5">
                    {{ form.secret|add_class:"form-control"|attr:"autofocus" }}
                </div>
            </div>
            
            <div class="from group-row">
                {{ form.content|add_label_class:"col-form-label col-sm-2 ml-3 font-weight-bold" }}
                <div class="col-sm-5">
                    {{ form.content|add_class:"form-control"|attr:"autofocus" }}
                </div>
            </div>
            <div class="from group-row">
                {{ form.image|add_label_class:"col-form-label col-sm-2 ml-3 font-weight-bold" }}
                <div class="col-sm-5">
                    {{ form.image|add_class:"form-control"|attr:"autofocus" }}
                </div>
            </div>
            
            <div class="from group-row">
                {{ form.tags|add_label_class:"col-form-label col-sm-2 ml-3 font-weight-bold" }}
                <div class="col-sm-5">
                    {{ form.tags|add_class:"form-control"|attr:"autofocus" }}
                </div>
                <small class="form-text text-muted">{{ form.tags.help_text }}</small>
            </div>

            <div class="form-group">
                <div class="offset-sm-2 col-sm-5">
                    <input type="submit" value="Submit" class="btn btn-info"/>
                </div>
            </div>
        </div>
    </form>
{% endblock %}