.form_container {
    background-color: skyblue;
    display:flex;
    height:100%;
    justify-content: center;
    align-items:center;
}

.input_container {
    max-width: 25%;
    min-width: 20%;
}

.far {
    font-size:80px;
    border:1px solid black;
    padding: 2rem;
    border-radius: 2rem;
}

#image_upload a {
    display:none;
}

input[name='name'], input[name='nickname'], input[name='email'] {
    width:80%;
    border:1px solid transparent;
    border-radius: 20rem;
    padding:0.5rem;
}

input[name='image'] {
    width:80%;
    padding:0.2rem;
}

input[name='profile_edit']{
    display: block;
    margin:0 auto;
    width: 80%;
    border-radius:20rem;
    box-sizing: border-box;
    border-color:transparent;
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: gray;
    color:white;
}