{% load static %}
{% load socialaccount %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>가치가개!-강아지 산책 정보 공유 사이트</title>
    <script src="https://kit.fontawesome.com/9ada8679dc.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'base.css' %}"> 
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    {% block extra_head %}
    {% endblock %}
</head>
<body>
    {% block nav %}
    <nav class="navbar">
        <div class="logo">
            <a href="{% url 'accounts:base' %}"><i class="fas fa-paw"></i>가치가개</a>
        </div>
        <ul class="menu">
        {% if user.is_authenticated %}
            <li><a href="{% url 'map:showmap'%}">같이가개</a></li>
            <li><a href="{% url 'calculator:calculate' %}">참고하개</a></li>
            <li><a href="{% url 'blog:post_list' %}">물어보개</a></li>
            <li><a href="{% url 'faq:qna' %}">알아보개</a></li>
            <li><a href="{% url 'accounts:logout' %}?next={{ request.path }}" onclick="return confirm('로그아웃 하시겠습니까?');">로그아웃</a></li>    
            <li><a href="{% url 'accounts:profile' %}">내프로필</a></li>
        {% else %}
            <li><a href="{% url 'map:showmap'%}">같이가개</a></li>
            <li><a href="{% url 'calculator:calculate' %}">참고하개</a></li>
            <li><a href="{% url 'blog:post_list' %}">물어보개</a></li>
            <li><a href="#">알아보개</a></li>
            <li><a href="{% url 'accounts:login' %}">로그인</a></li>
            <li><a href="{% url 'accounts:signup' %}?next={% url 'accounts:signup_completed' %}">회원가입</a></li>
        {% endif %}
        </ul>
        <a href="" class="navbar_toggleBtn">
            <i class="fas fa-bars"></i>
        </a>
    </nav>
    {% endblock %}
        
    
    <main>
        {% block body %}
            <section id="main1">
                <div class="header">
                    <h1 style="display:inline-block"><span class="header-title-left">반려견 산책정보</span></h1>
                    <div class="header-title-right">전부 다<br>
                        <span style="font-weight:bold">가치가개</span>에서!
                    </div>
                    <p>강아지 활동량,애견 동반 가능한 카페,식당,반려견 놀이터까지<br>강아지와 함께하는 활동에 대한 모든 정보를 가치가개에서 쉽게 찾아보세요!</p>
                </div>
            </section>

            <section id="main2" class="main2-container">
                <div class="main-item">
                    <i class="fas fa-dog"></i>
                    <h6>같이가개</h6>
                    <p> 반려견과의 나들이 어디로 갈까? <br>애견 동반 가능한 장소들을 지도에서 한눈에 찾기!</p>
                    <button><a href="{% url 'map:showmap'%}">바로가기</a></button>
                </div>

                <div class="main-item">
                    <i class="fas fa-paw"></i>
                    <h6>참고하개</h6>
                    <p> 우리 강아지는 산책을 얼마나 시켜야 할까? 활동량과 기초대사량,적정체중,견종별 특징까지 한번에 알아보기!</p>
                    <button><a href="{% url 'calculator:calculate' %}">바로가기</a></button>
                </div>

                <div class="main-item">
                    <i class="fas fa-comments"></i>
                    <h6>물어보개</h6>
                    <p>반려견과 다녀온 애견동반 핫플들을<br>모아 다른 사람들과 함께 공유하고<br>자유롭게 소통하기!</p>
                    <button><a href="{% url 'blog:post_list' %}">바로가기</a></button>
                </div>

                <div class="main-item">
                    <i class="fas fa-book"></i>
                    <h6>알아보개</h6>
                    <p>반려견과 산책할 때 알아두어야 할<br>기본 지식들을 알아보개 리스트에서<br>한번에 체크하기!</p>
                    <button><a href="{% url 'faq:qna' %}">바로가기</a></button>
                </div>
            </section>

            <section id="main3">
                <h2>BEST top5 모아보개!</h2>
                <p>다른 사람들이 관심있게 본 새로운 산책 관련 정보들을 확인해보세요!</p>
                <div class="recommend-place">
                    <h5 class="recom-title">오늘의 인기글 top5</h5>
                    <ul class="recommend-ul">
                    {% for post in posts %}
                        <li class="recommend-list">
                            <div class="recommend-content-left">
                                <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                                <p>{{ post.modified_at|date:"Y-N-d" }}<p>
                            </div>
                            <div class="recommend-content-right">
                                <p>작성자 <b>{{ post.owner}}</b></p>
                                <span>좋아요 {{post.count_likes_user}}</span>
                                <span>댓글 수 {{ post.comment_set.all.count }}</span>
                            </div>
                        </li><hr>
                    {% endfor %}
                    </ul>
                    <button class="org-btn-sm"><a href="{% url 'blog:post_list' %}">더 알아보기</a></button>
                </div>
                <img class="mainDog" src="{% static 'img/mainDog.png' %}">
            </section>
        {% endblock %}
    </main>

    {% block footer %}
        <footer>
            <small>copyright pirogramming 14기 5조 가치가개 | 전태수 김시연 김윤식 임채원 조은기</small>
        </footer>
    {% endblock %}

    {% block script %}
        <script type="text/javascript" src="{% static 'js/navbar_toggle.js' %}"></script>
    {% endblock %}
</body>
</html>