<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>다음 지도 API</title>
</head>
<body>
	<div id="map" style="width:750px;height:350px;"></div>

	<script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=d7e2f3e9f6a5dcedc3fa6264dd8a62e3"></script>
	<script>
		var mapContainer = document.getElementById('map'), // 지도를 표시할 div
		    mapOption = {
		        center: new kakao.maps.LatLng(37.56761, 126.97886), // 지도의 중심좌표
		        level: 4, // 지도의 확대 레벨
		        mapTypeId : kakao.maps.MapTypeId.ROADMAP // 지도종류
		    };

		// 지도를 생성한다
		var map = new kakao.maps.Map(mapContainer, mapOption);

		// 지도에 마커를 생성하고 표시한다
        var positions = [];
        for (var i = 0; i < Object.keys(places).length; i++) {
            var content = {
                title: places[i].title,
                latlng: new kakao.maps.LatLng(places[i].mapy, places[i].mapx),
                address: places[i].address,
                detail: "디테일입니다 추후 추가예정",
                tel: places[i].tel,
            }
            positions.push(content);
};
        console.log(positions);


        var imageSrc = "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png";
        for (var i = 0; i < positions.length; i++) {
            // 마커 이미지의 이미지 크기 입니다
            var imageSize = new kakao.maps.Size(24, 35);
            // 마커 이미지를 생성합니다
            var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize);
            // 마커를 생성합니다
            var marker = new kakao.maps.Marker(
                {
                    map: map,
                    position: positions[i].latlng,
                    title: positions[i].title,
                    image: markerImage
                }
            );
        }
	</script>
</body>
</html>
