{% extends 'base.html' %} {% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>같이가개</title>

    {% block extra_head %} {{ block.super }}
    <link rel="stylesheet" href="{% static 'map/css/showmap.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    />

    <style></style>
    {% endblock %}
  </head>
                
                
                
                
                

  {% block body %}
  <div class="map_wrap">
    <div
      id="map"
      style="width: 100%; height: 100%; position: relative; overflow: hidden"
    ></div>

    <div id="map_buttons">
      <ul>
        <li><button onclick="Geo()">현재위치</button> </li>
        <li><button id="searchmarker" onclick="checkMarkers()">검색 마커</button></li>
        <li><button id="nearpark" onclick="checknearParkMarker()">주변 애견장소 </button></li>
        <li><button id="allpark" onclick="checkallParkMarker()"> 공원 </button></li>
        <li><button onclick="removeCircles()">원 그리기 지우기</button></li> 
      </ul>
    </div>

    <div id="menu_wrap" class="bg_white">
      <div class="option">
        <div>
          <form onsubmit="searchPlaces(); return false;">
            <input
              type="text"
              value="짐박스"
              id="keyword"
              placeholder="강아지와 함께 갈 수 있는 플레이스를 찾아보세요!"
              onfocus="this.placeholder=''"
              onblur="this.placeholder='강아지와 함께 갈 수 있는 플레이스를 찾아보세요!'"
            />
            <button type="submit"><i class="fas fa-search fa-lg"></i></button>
          </form>
        </div>
      </div>

      <ul id="placesList"></ul>
      <div id="pagination"></div>
    </div>
  </div>

  {% endblock %}
   {% block footer %} 
   {% endblock %} 
   {% block script %}
  <script
    type="text/javascript"
    src="//dapi.kakao.com/v2/maps/sdk.js?appkey={{ API_KEY }},clusterer"
  ></script>
  <script
    src="https://code.jquery.com/jquery-3.5.1.slim.js"
    integrity="sha256-DrT5NfxfbHvMHux31Lkhxg42LY6of8TaYyK50jnxRnM="
    crossorigin="anonymous"
  ></script>
  <script>
     // 마커를 담을 배열입니다
     var markers = [];

     var mapContainer = document.getElementById("map"), // 지도를 표시할 div
       mapOption = {
         center: new kakao.maps.LatLng(37.5442779444, 126.9592546183), // 지도의 중심좌표
         level: 5, // 지도의 확대 레벨
       };

     // 지도를 생성합니다
     var map = new kakao.maps.Map(mapContainer, mapOption);

     //geolocation start
     // HTML5의 geolocation으로 사용할 수 있는지 확인합니다
     // 현재 좌표로 이동, 그 근방 공원 마커 띄우기
     function Geo() {
       if (navigator.geolocation) {
         // GeoLocation을 이용해서 접속 위치를 얻어옵니다
         navigator.geolocation.getCurrentPosition(function (position) {
           var lat = position.coords.latitude, // 위도
             lon = position.coords.longitude; // 경도

           var locPosition = new kakao.maps.LatLng(lat, lon), // 마커가 표시될 위치를 geolocation으로 얻어온 좌표로 생성합니다
             message = '<div style="padding:5px;">사용자 현재 위치</div>'; // 인포윈도우에 표시될 내용입니다

           // 마커와 인포윈도우를 표시합니다
           displayMarker(locPosition, message);
         });
       } else {
         // HTML5의 GeoLocation을 사용할 수 없을때 마커 표시 위치와 인포윈도우 내용을 설정합니다

         var locPosition = new kakao.maps.LatLng(33.450701, 126.570667),
           message = "geolocation을 사용할수 없어요..";

         displayMarker(locPosition, message);
       }
     }

     // 지도에 마커와 인포윈도우를 표시하는 함수입니다
     function displayMarker(locPosition, message) {
       // 마커를 생성합니다
       var marker = new kakao.maps.Marker({
         map: map,
         position: locPosition,
       });

       var iwContent = message, // 인포윈도우에 표시할 내용
         iwRemoveable = true;

       // 인포윈도우를 생성합니다
       var infowindow = new kakao.maps.InfoWindow({
         content: iwContent,
         removable: iwRemoveable,
       });

       // 인포윈도우를 마커위에 표시합니다
       infowindow.open(map, marker);

       // 지도 중심좌표를 접속위치로 변경합니다
       map.setCenter(locPosition);
     }
     //geolocation end

     // 장소 검색 객체를 생성합니다
     var ps = new kakao.maps.services.Places();

     // 검색 결과 목록이나 마커를 클릭했을 때 장소명을 표출할 인포윈도우를 생성합니다
     var infowindow = new kakao.maps.InfoWindow({ zIndex: 1 });

     // 키워드로 장소를 검색합니다
     searchPlaces();

     // 키워드 검색을 요청하는 함수입니다
     function searchPlaces() {
       var keyword = document.getElementById("keyword").value;

       if (!keyword.replace(/^\s+|\s+$/g, "")) {
         alert("키워드를 입력해주세요!");
         return false;
       }

       // 장소검색 객체를 통해 키워드로 장소검색을 요청합니다
       ps.keywordSearch(keyword, placesSearchCB);
     }

     // 장소검색이 완료됐을 때 호출되는 콜백함수 입니다
     function placesSearchCB(data, status, pagination) {
       if (status === kakao.maps.services.Status.OK) {
         // 정상적으로 검색이 완료됐으면
         // 검색 목록과 마커를 표출합니다
         displayPlaces(data);

         // 페이지 번호를 표출합니다
         displayPagination(pagination);
       } else if (status === kakao.maps.services.Status.ZERO_RESULT) {
         alert("검색 결과가 존재하지 않습니다.");
         return;
       } else if (status === kakao.maps.services.Status.ERROR) {
         alert("검색 결과 중 오류가 발생했습니다.");
         return;
       }
     }

     //placeaddbyuser 위치 뛰우기
     var placesaddbyuser = JSON.parse("{{ placeJson|escapejs }}");
     console.log(placesaddbyuser);
     var usermarkers = [];
     var imageSize = new kakao.maps.Size(24, 35);
     var imageadd =
       "https://upload.wikimedia.org/wikipedia/commons/f/f2/678111-map-marker-512.png";
     var markerImage = new kakao.maps.MarkerImage(imageadd, imageSize);
     function overraycustomuser(marker, place) {
       kakao.maps.event.addListener(marker, "mouseover", function () {
         var iwContent =
             '<div class="wrap">' +
             '    <div class="info">' +
             '        <div class="title">' +
             place.title +
             "        </div>" +
             '        <div class="body">' +
             '            <div class="desc">' +
             '                <div class="ellipsis">' +
             place.author +
             "</div>" +
             "            </div>" +
             "        </div>" +
             "    </div>" +
             "</div>",
           iwRemoveable = true;
         var infowindow = new kakao.maps.InfoWindow({
           content: iwContent,
           removable: iwRemoveable,
         });
         kakao.maps.event.addListener(marker, "mouseover", function () {
           infowindow.open(map, marker);
         });
         kakao.maps.event.addListener(
           marker,
           "mouseout",
           function (mouseEvent) {
             infowindow.close();
           }
         );
       });
     }
     for (var i = 0; i < placesaddbyuser.length; i++) {
       var usermarker = new kakao.maps.Marker({
         map: map,
         position: new kakao.maps.LatLng(
           placesaddbyuser[i].mapx,
           placesaddbyuser[i].mapy
         ),
         title: placesaddbyuser[i].title,
         image: markerImage,
       });

       usermarkers.push(usermarker);
       overraycustomuser(usermarker, placesaddbyuser[i]);
     }

     // 검색 결과 목록과 마커를 표출하는 함수입니다
     function displayPlaces(places) {
       var listEl = document.getElementById("placesList"),
         menuEl = document.getElementById("menu_wrap"),
         fragment = document.createDocumentFragment(),
         bounds = new kakao.maps.LatLngBounds(),
         listStr = "";

       // 검색 결과 목록에 추가된 항목들을 제거합니다
       removeAllChildNods(listEl);
       // 지도에 표시되고 있는 마커를 제거합니다
       removeMarker();

       for (var i = 0; i < places.length; i++) {
         // 마커를 생성하고 지도에 표시합니다
         var placePosition = new kakao.maps.LatLng(places[i].y, places[i].x),
           marker = addMarker(placePosition, i),
           itemEl = getListItem(i, places[i]); // 검색 결과 항목 Element를 생성합니다

         // 검색된 장소 위치를 기준으로 지도 범위를 재설정하기위해
         // LatLngBounds 객체에 좌표를 추가합니다
         bounds.extend(placePosition);

         // 마커와 검색결과 항목에 mouseover 했을때
         // 해당 장소에 인포윈도우에 장소명을 표시합니다
         // mouseout 했을 때는 인포윈도우를 닫습니다
         (function (marker, title) {
           kakao.maps.event.addListener(marker, "mouseover", function () {
             displayInfowindow(marker, title);
           });

           kakao.maps.event.addListener(marker, "mouseout", function () {
             infowindow.close();
           });

           itemEl.onmouseover = function () {
             displayInfowindow(marker, title);
           };

           itemEl.onmouseout = function () {
             infowindow.close();
           };
         })(marker, places[i].place_name);

         fragment.appendChild(itemEl);
       }

       // 검색결과 항목들을 검색결과 목록 Elemnet에 추가합니다
       listEl.appendChild(fragment);
       menuEl.scrollTop = 0;

       // 검색된 장소 위치를 기준으로 지도 범위를 재설정합니다
       map.setBounds(bounds);
     }

     // 검색결과 항목을 Element로 반환하는 함수입니다
     function getListItem(index, places) {
       //목록 HTML 추가
       var el = document.createElement("li"),
         itemStr =
           '<div class="placeBox">' + //css 적용 되는지 확인하느라 추가했습니다
           '<span class="markerbg marker_' +
           (index + 1) +
           '"></span>' +
           '<div class="info">' +
           "   <h5>" +
           places.place_name +
           "</h5>";

       if (places.road_address_name) {
         itemStr +=
           "    <span>" +
           places.road_address_name +
           "</span>" +
           '   <span class="jibun gray" id="address_name" >' +
           places.address_name +
           "</span>";
       } else {
         itemStr +=
           '    <span id="address_name">' + places.address_name + "</span>";
       }

       itemStr += '  <span class="tel">' + places.phone + "</span>";
       //카테고리 부분 추가 필요
       var isregister = 0;
       console.log(usermarkers);
       for (var i = 0; i < usermarkers.length; i++) {
         if (usermarkers[i].getTitle() == places.place_name) {
           isregister = isregister + 1;
         }
       }
       console.log(isregister);
       if (isregister == 0) {
         itemStr +=
           '<button id="addplace_' +
           (index + 1) +
           '" onclick="registerplace(this.id)">장소추가</button>';
       } else {
         itemStr +=
           '<button id="addplace_' +
           (index + 1) +
           '" onclick="placedelete(this.id)">장소 삭제</button>';
       }

       itemStr += "</div>" + "</div>"; //추가한 div의 닫는 태그

       el.innerHTML = itemStr;
       el.className = "item";

       return el;
     }

     // 마커를 생성하고 지도 위에 마커를 표시하는 함수입니다
     function addMarker(position, idx, title) {
       var imageSrc =
           "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png", // 마커 이미지 url, 스프라이트 이미지를 씁니다
         imageSize = new kakao.maps.Size(36, 37), // 마커 이미지의 크기
         imgOptions = {
           spriteSize: new kakao.maps.Size(36, 691), // 스프라이트 이미지의 크기
           spriteOrigin: new kakao.maps.Point(0, idx * 46 + 10), // 스프라이트 이미지 중 사용할 영역의 좌상단 좌표
           offset: new kakao.maps.Point(13, 37), // 마커 좌표에 일치시킬 이미지 내에서의 좌표
         },
         markerImage = new kakao.maps.MarkerImage(
           imageSrc,
           imageSize,
           imgOptions
         ),
         marker = new kakao.maps.Marker({
           position: position, // 마커의 위치
           image: markerImage,
         });

       marker.setMap(map); // 지도 위에 마커를 표출합니다
       markers.push(marker); // 배열에 생성된 마커를 추가합니다

       return marker;
     }

     // 지도 위에 표시되고 있는 마커를 모두 제거합니다
     function removeMarker() {
       for (var i = 0; i < markers.length; i++) {
         markers[i].setMap(null);
       }
       markers = [];
     }

     // 배열에 추가된 마커들을 지도에 표시하거나 삭제하는 함수입니다
     function setMarkers(map, markers) {
       for (var i = 0; i < markers.length; i++) {
         markers[i].setMap(map);
       }
     }

     // "마커 보이기" 버튼을 클릭하면 호출되어 배열에 추가된 마커를 지도에 표시하는 함수입니다
     function showMarkers(markers) {
       setMarkers(map, markers);
     }

     // "마커 감추기" 버튼을 클릭하면 호출되어 배열에 추가된 마커를 지도에서 삭제하는 함수입니다
     function hideMarkers(markers) {
       setMarkers(null, markers);
     }
     function checkMarkers() {
       var x = document.getElementById("searchmarker");
       if (x.style.opacity === "1") {
         x.style.opacity = "0.5";
         hideMarkers(markers);
       } else {
         x.style.opacity = "1";
         showMarkers(markers);
       }
     }
     // 검색결과 목록 하단에 페이지번호를 표시는 함수입니다
     function displayPagination(pagination) {
       var paginationEl = document.getElementById("pagination"),
         fragment = document.createDocumentFragment(),
         i;

       // 기존에 추가된 페이지번호를 삭제합니다
       while (paginationEl.hasChildNodes()) {
         paginationEl.removeChild(paginationEl.lastChild);
       }

       for (i = 1; i <= pagination.last; i++) {
         var el = document.createElement("a");
         el.href = "#";
         el.innerHTML = i;

         if (i === pagination.current) {
           el.className = "on";
         } else {
           el.onclick = (function (i) {
             return function () {
               pagination.gotoPage(i);
             };
           })(i);
         }

         fragment.appendChild(el);
       }
       paginationEl.appendChild(fragment);
     }

     // 검색결과 목록 또는 마커를 클릭했을 때 호출되는 함수입니다
     // 인포윈도우에 장소명을 표시합니다
     function displayInfowindow(marker, title) {
       var content = '<div style="padding:5px;z-index:1;">' + title + "</div>";

       infowindow.setContent(content);
       infowindow.open(map, marker);
     }

     // 검색결과 목록의 자식 Element를 제거하는 함수입니다
     function removeAllChildNods(el) {
       while (el.hasChildNodes()) {
         el.removeChild(el.lastChild);
       }
     }
     //overray custom for parkmarker
     function overraycustompark(marker, place) {
       kakao.maps.event.addListener(marker, "mouseover", function () {
         var iwContent =
             '<div class="wrap">' +
             '    <div class="info">' +
             '        <div class="title">' +
             place.title +
             "        </div>" +
             '        <div class="body">' +
             '            <div class="desc">' +
             '                <div class="ellipsis">' +
             place.addr1 +
             "</div>" +
             "            </div>" +
             "        </div>" +
             "    </div>" +
             "</div>",
           iwRemoveable = true;
         var infowindow = new kakao.maps.InfoWindow({
           content: iwContent,
           removable: iwRemoveable,
         });
         kakao.maps.event.addListener(marker, "mouseover", function () {
           infowindow.open(map, marker);
         });
         kakao.maps.event.addListener(
           marker,
           "mouseout",
           function (mouseEvent) {
             infowindow.close();
           }
         );
       });
     }

     //공원 마커 어레이
     var parkmarkers = [];

     //공원 마크(현재위치 주변) 띄우기
     var parks = JSON.parse("{{ parkJson|escapejs }}");
     console.log(parks);
     var imageSrc =
       "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png";
     //공원용 마크 이미지
     var imageSize = new kakao.maps.Size(24, 35);

     var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize);
     for (var i = 0; i < parks.length; i++) {
       geodecoder.addressSearch(parks[i].address, function(result, status) {
           if(status == kakao.maps.services.Status.OK) {
               var coords = new kakao.maps.LatLng(result[0].y, result[0].x);
           }
       });
       var parkmarker = new kakao.maps.Marker({
         map: map,
         position: coords,
         title: parks[i].title,
         image: markerImage,
       });

       parkmarkers.push(parkmarker);
       overraycustompark(parkmarker, parks[i]);
     }

     function showParkMarker() {
       var radius = 2000;
       var c1 = map.getCenter();
       for (var i = 0; i < parkmarkers.length; i++) {
         var c2 = parkmarkers[i].getPosition();
         var poly = new kakao.maps.Polyline({
           path: [c1, c2],
         });
         var dist = poly.getLength();
         console.log(dist);
         if (dist < radius) {
           parkmarkers[i].setMap(map);
         } else {
           parkmarkers[i].setMap(null);
         }
       }
     }
     function checknearParkMarker() {
       var x = document.getElementById("nearpark");
       if (x.style.opacity === "1") {
         x.style.opacity = "0.5";
         showParkMarker();
       } else {
         x.style.opacity = "1";
         hideMarkers(parkmarkers);
       }
     }

     //모든 공원 마크 띄우기(save용)

     function checkallParkMarker() {
       var x = document.getElementById("allpark");
       if (x.style.opacity === "1") {
         x.style.opacity = "0.5";
         showMarkers(parkmarkers);
       } else {
         x.style.opacity = "1";
         hideMarkers(parkmarkers);
       }
     }

     //반경확인용 원 그리기 함수
     var drawingFlag = false; // 원이 그려지고 있는 상태를 가지고 있을 변수입니다
     var centerPosition; // 원의 중심좌표 입니다
     var drawingCircle; // 그려지고 있는 원을 표시할 원 객체입니다
     var drawingLine; // 그려지고 있는 원의 반지름을 표시할 선 객체입니다
     var drawingOverlay; // 그려지고 있는 원의 반경을 표시할 커스텀오버레이 입니다
     var drawingDot; // 그려지고 있는 원의 중심점을 표시할 커스텀오버레이 입니다

     var circles = []; // 클릭으로 그려진 원과 반경 정보를 표시하는 선과 커스텀오버레이를 가지고 있을 배열입니다

     // 지도에 클릭 이벤트를 등록합니다
     kakao.maps.event.addListener(map, "click", function (mouseEvent) {
       // 클릭 이벤트가 발생했을 때 원을 그리고 있는 상태가 아니면 중심좌표를 클릭한 지점으로 설정합니다
       if (!drawingFlag) {
         // 상태를 그리고있는 상태로 변경합니다
         drawingFlag = true;

         // 원이 그려질 중심좌표를 클릭한 위치로 설정합니다
         centerPosition = mouseEvent.latLng;

         // 그려지고 있는 원의 반경을 표시할 선 객체를 생성합니다
         if (!drawingLine) {
           drawingLine = new kakao.maps.Polyline({
             strokeWeight: 3, // 선의 두께입니다
             strokeColor: "#00a0e9", // 선의 색깔입니다
             strokeOpacity: 1, // 선의 불투명도입니다 0에서 1 사이값이며 0에 가까울수록 투명합니다
             strokeStyle: "solid", // 선의 스타일입니다
           });
         }

         // 그려지고 있는 원을 표시할 원 객체를 생성합니다
         if (!drawingCircle) {
           drawingCircle = new kakao.maps.Circle({
             strokeWeight: 1, // 선의 두께입니다
             strokeColor: "#00a0e9", // 선의 색깔입니다
             strokeOpacity: 0.1, // 선의 불투명도입니다 0에서 1 사이값이며 0에 가까울수록 투명합니다
             strokeStyle: "solid", // 선의 스타일입니다
             fillColor: "#00a0e9", // 채우기 색깔입니다
             fillOpacity: 0.2, // 채우기 불투명도입니다
           });
         }

         // 그려지고 있는 원의 반경 정보를 표시할 커스텀오버레이를 생성합니다
         if (!drawingOverlay) {
           drawingOverlay = new kakao.maps.CustomOverlay({
             xAnchor: 0,
             yAnchor: 0,
             zIndex: 1,
           });
         }
       }
     });

     // 지도에 마우스무브 이벤트를 등록합니다
     // 원을 그리고있는 상태에서 마우스무브 이벤트가 발생하면 그려질 원의 위치와 반경정보를 동적으로 보여주도록 합니다
     kakao.maps.event.addListener(map, "mousemove", function (mouseEvent) {
       // 마우스무브 이벤트가 발생했을 때 원을 그리고있는 상태이면
       if (drawingFlag) {
         // 마우스 커서의 현재 위치를 얻어옵니다
         var mousePosition = mouseEvent.latLng;

         // 그려지고 있는 선을 표시할 좌표 배열입니다. 클릭한 중심좌표와 마우스커서의 위치로 설정합니다
         var linePath = [centerPosition, mousePosition];

         // 그려지고 있는 선을 표시할 선 객체에 좌표 배열을 설정합니다
         drawingLine.setPath(linePath);

         // 원의 반지름을 선 객체를 이용해서 얻어옵니다
         var length = drawingLine.getLength();

         if (length > 0) {
           // 그려지고 있는 원의 중심좌표와 반지름입니다
           var circleOptions = {
             center: centerPosition,
             radius: length,
           };

           // 그려지고 있는 원의 옵션을 설정합니다
           drawingCircle.setOptions(circleOptions);

           // 반경 정보를 표시할 커스텀오버레이의 내용입니다
           var radius = Math.round(drawingCircle.getRadius()),
             content =
               '<div class="info">반경 <span class="number">' +
               radius +
               "</span>m</div>";

           // 반경 정보를 표시할 커스텀 오버레이의 좌표를 마우스커서 위치로 설정합니다
           drawingOverlay.setPosition(mousePosition);

           // 반경 정보를 표시할 커스텀 오버레이의 표시할 내용을 설정합니다
           drawingOverlay.setContent(content);

           // 그려지고 있는 원을 지도에 표시합니다
           drawingCircle.setMap(map);

           // 그려지고 있는 선을 지도에 표시합니다
           drawingLine.setMap(map);

           // 그려지고 있는 원의 반경정보 커스텀 오버레이를 지도에 표시합니다
           drawingOverlay.setMap(map);
         } else {
           drawingCircle.setMap(null);
           drawingLine.setMap(null);
           drawingOverlay.setMap(null);
         }
       }
     });

     // 지도에 마우스 오른쪽 클릭이벤트를 등록합니다
     // 원을 그리고있는 상태에서 마우스 오른쪽 클릭 이벤트가 발생하면
     // 마우스 오른쪽 클릭한 위치를 기준으로 원과 원의 반경정보를 표시하는 선과 커스텀 오버레이를 표시하고 그리기를 종료합니다
     kakao.maps.event.addListener(map, "rightclick", function (mouseEvent) {
       if (drawingFlag) {
         // 마우스로 오른쪽 클릭한 위치입니다
         var rClickPosition = mouseEvent.latLng;

         // 원의 반경을 표시할 선 객체를 생성합니다
         var polyline = new kakao.maps.Polyline({
           path: [centerPosition, rClickPosition], // 선을 구성하는 좌표 배열입니다. 원의 중심좌표와 클릭한 위치로 설정합니다
           strokeWeight: 3, // 선의 두께 입니다
           strokeColor: "#00a0e9", // 선의 색깔입니다
           strokeOpacity: 1, // 선의 불투명도입니다 0에서 1 사이값이며 0에 가까울수록 투명합니다
           strokeStyle: "solid", // 선의 스타일입니다
         });

         // 원 객체를 생성합니다
         var circle = new kakao.maps.Circle({
           center: centerPosition, // 원의 중심좌표입니다
           radius: polyline.getLength(), // 원의 반지름입니다 m 단위 이며 선 객체를 이용해서 얻어옵니다
           strokeWeight: 1, // 선의 두께입니다
           strokeColor: "#00a0e9", // 선의 색깔입니다
           strokeOpacity: 0.1, // 선의 불투명도입니다 0에서 1 사이값이며 0에 가까울수록 투명합니다
           strokeStyle: "solid", // 선의 스타일입니다
           fillColor: "#00a0e9", // 채우기 색깔입니다
           fillOpacity: 0.2, // 채우기 불투명도입니다
         });

         var radius = Math.round(circle.getRadius()), // 원의 반경 정보를 얻어옵니다
           content = getTimeHTML(radius); // 커스텀 오버레이에 표시할 반경 정보입니다

         // 반경정보를 표시할 커스텀 오버레이를 생성합니다
         var radiusOverlay = new kakao.maps.CustomOverlay({
           content: content, // 표시할 내용입니다
           position: rClickPosition, // 표시할 위치입니다. 클릭한 위치로 설정합니다
           xAnchor: 0,
           yAnchor: 0,
           zIndex: 1,
         });

         // 원을 지도에 표시합니다
         circle.setMap(map);

         // 선을 지도에 표시합니다
         polyline.setMap(map);

         // 반경 정보 커스텀 오버레이를 지도에 표시합니다
         radiusOverlay.setMap(map);

         // 배열에 담을 객체입니다. 원, 선, 커스텀오버레이 객체를 가지고 있습니다
         var radiusObj = {
           polyline: polyline,
           circle: circle,
           overlay: radiusOverlay,
         };

         // 배열에 추가합니다
         // 이 배열을 이용해서 "모두 지우기" 버튼을 클릭했을 때 지도에 그려진 원, 선, 커스텀오버레이들을 지웁니다
         circles.push(radiusObj);

         // 그리기 상태를 그리고 있지 않는 상태로 바꿉니다
         drawingFlag = false;

         // 중심 좌표를 초기화 합니다
         centerPosition = null;

         // 그려지고 있는 원, 선, 커스텀오버레이를 지도에서 제거합니다
         drawingCircle.setMap(null);
         drawingLine.setMap(null);
         drawingOverlay.setMap(null);
       }
     });

     // 지도에 표시되어 있는 모든 원과 반경정보를 표시하는 선, 커스텀 오버레이를 지도에서 제거합니다
     function removeCircles() {
       for (var i = 0; i < circles.length; i++) {
         circles[i].circle.setMap(null);
         circles[i].polyline.setMap(null);
         circles[i].overlay.setMap(null);
       }
       circles = [];
     }

     // 마우스 우클릭 하여 원 그리기가 종료됐을 때 호출하여
     // 그려진 원의 반경 정보와 반경에 대한 도보, 자전거 시간을 계산하여
     // HTML Content를 만들어 리턴하는 함수입니다
     function getTimeHTML(distance) {
       // 도보의 시속은 평균 4km/h 이고 도보의 분속은 67m/min입니다
       var walkkTime = (distance / 67) | 0;
       var walkHour = "",
         walkMin = "";

       // 계산한 도보 시간이 60분 보다 크면 시간으로 표시합니다
       if (walkkTime > 60) {
         walkHour =
           '<span class="number">' +
           Math.floor(walkkTime / 60) +
           "</span>시간 ";
       }
       walkMin = '<span class="number">' + (walkkTime % 60) + "</span>분";

       // 자전거의 평균 시속은 16km/h 이고 이것을 기준으로 자전거의 분속은 267m/min입니다
       var bycicleTime = (distance / 227) | 0;
       var bycicleHour = "",
         bycicleMin = "";

       // 계산한 자전거 시간이 60분 보다 크면 시간으로 표출합니다
       if (bycicleTime > 60) {
         bycicleHour =
           '<span class="number">' +
           Math.floor(bycicleTime / 60) +
           "</span>시간 ";
       }
       bycicleMin = '<span class="number">' + (bycicleTime % 60) + "</span>분";

       // 거리와 도보 시간, 자전거 시간을 가지고 HTML Content를 만들어 리턴합니다
       var content = '<ul class="info">';
       content += "    <li>";
       content +=
         '        <span class="label">총거리</span><span class="number">' +
         distance +
         "</span>m";
       content += "    </li>";
       content += "    <li>";
       content +=
         '        <span class="label">도보</span>' + walkHour + walkMin;
       content += "    </li>";
       content += "    <li>";
       content +=
         '        <span class="label">자전거</span>' +
         bycicleHour +
         bycicleMin;
       content += "    </li>";
       content += "</ul>";

       return content;
     }
     //반경 확인용 끝

     //장소 추가
     var user = JSON.parse("{{ userJson|escapejs }}");
     var newusermarker = new kakao.maps.Marker();
     function registerplace(clicked_id) {
       var request = new XMLHttpRequest();
       var placeid = document.getElementById(clicked_id);
       var div = placeid.closest("div");
       var title = div.querySelector("h5").textContent;
       var address_name = div.querySelector("#address_name").textContent;
       var geocoder = new kakao.maps.services.Geocoder();
       var callback = function (result, status) {
         if (status === kakao.maps.services.Status.OK) {
           console.log(title, address_name, result[0].y, result[0].x);
           var url = "ajax/";
           request.open("POST", url, true);
           request.setRequestHeader(
             "Content-Type",
             "application/x-www-form-urlencoded"
           );
           var xmap = result[0].y;
           var ymap = result[0].x;
           var info = {
             title: title,
             address: address_name,
             xmap: xmap,
             ymap: ymap,
             author: user.user,
           };
           request.send(JSON.stringify(info));
           var imageadd =
             "https://upload.wikimedia.org/wikipedia/commons/f/f2/678111-map-marker-512.png";
           var markerImage = new kakao.maps.MarkerImage(imageadd, imageSize);
           var coord = new kakao.maps.LatLng(xmap, ymap);
           newusermarker.setMap(map);
           newusermarker.setPosition(coord);
           newusermarker.setTitle(title);
           newusermarker.setImage(markerImage);
           overraycustomuser(newusermarker, info);
           var handleResponse = () => {
             if (request.status <= 400) {
               placeid.innerHTML = "장소 삭제";
               placeid.onclick = () => {
                 placedelete(clicked_id);
               };
             }
           };
           request.onreadystatechange = () => {
             if (request.readyState === XMLHttpRequest.DONE) {
               handleResponse();
             }
           };
         }
       };
       geocoder.addressSearch(address_name, callback);
     }

     //장소삭제
     function placedelete(clicked_id) {
       var r =confirm("정말 등록된 장소를 삭제하시겠습니까?.");
       if(r == true){
       var request = new XMLHttpRequest();
       var placeid = document.getElementById(clicked_id);
       var div = placeid.closest("div");
       var title = div.querySelector("h5").textContent;
       console.log(title);
       var url = "ajax/delete";
       request.open("POST", url, true);
       request.setRequestHeader(
         "Content-Type",
         "application/x-www-form-urlencoded"
       );
       var info = { title: title };
       request.send(JSON.stringify(info));
      var handleResponse = () => {
         if (request.status <= 400) {
          var type = JSON.parse(request.response);
          console.log(type.type);
          if(type.type === "correct"){
          for (var i = 0; i < usermarkers.length; i++) {
            if (usermarkers[i].getTitle() === title) {
              usermarkers[i].setMap(null);
            }
          }
   
          if (newusermarker.getTitle() === title) {
            newusermarker.setMap(null);
          }
           placeid.innerHTML = "장소 추가";
           placeid.onclick = () => {
             registerplace(clicked_id);
           };
          }
          else{
            alert("권한이 없습니다.");
          }
         }
       };
       request.onreadystatechange = () => {
         if (request.readyState === XMLHttpRequest.DONE) {
           handleResponse();
         }
       };
      }
     }
   </script>
{% endblock %}